/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}


/*
 * Base structure
 */

/*html,*/
/*body {*/
	/*height: 100%;*/
	/*background-color: #333;*/
    /*background-color: #004a98;*/
/*}*/

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	color: rgb(255, 255, 255);
	position: relative;
	min-height: 372px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 3px;
}


/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}


/*
 * Cover
 */

.cover {
	position: relative;
	padding: 0 0;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

.explanation {
	position: relative;
	padding: 0 0;
}
.explanation .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
	position: relative;
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	.mastfoot {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}

.form-signin {
	max-width: 800px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-top: 5px;
}
.form-signin .form-signin-content{
	margin-top: 5px;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#hideAll
{
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
}

/*
video::-webkit-media-controls {
  display:none !important;
}
*/
